@import '~node_modules/modern-normalize/modern-normalize.css';

//  Colors

//  Font

//  Cubic for transition

// Break points

// body {
//     color: ;
//     background-color: ;
//     font-family: ;
//     letter-spacing: ;
//     line-height: ;
//     font-size: ;
// }

// img {
//     display: block;
// }

// Визуально скрыть
// .visually-hidden {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;

//     white-space: nowrap;
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     overflow: hidden;}

// placeholder


// %list {
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }


    $header-bg: #FFB8CA;
    $text-white: #ffffff;
    $text-primary: #D41443;
    $text-strong: #FFA5BA;
    $text-p-primary: #000000;
    $text-p-secont: #907E82;
    $bg-cofe: #F0D1A5;
    $color-olive: #C2E297;
    $bg-about: #FFF5F6;
    $bg-button: #D41342;


    $point: #C7133E;
    $bg-icon: #FEA5BB;
    $bg-point: #D9D9D9;
    $bg-customer:#FAFAFA;
