@import '~node_modules/modern-normalize/modern-normalize.css';

//  Colors

//  Font

//  Cubic for transition

// Break points

// body {
//     color: ;
//     background-color: ;
//     font-family: ;
//     letter-spacing: ;
//     line-height: ;
//     font-size: ;
// }

// img {
//     display: block;
// }

// Визуально скрыть
// .visually-hidden {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;

//     white-space: nowrap;
//     clip-path: inset(100%);
//     clip: rect(0 0 0 0);
//     overflow: hidden;}

// placeholder


// %list {
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }

:root {
    --header-bg: #FFB8CA;
    --white-color: #ffffff;
    --primary-text: #D41443;
    --label-text: #FFA5BA;
    --cofe-bg: #F0D1A5;
    --olive-color: #C2E297;
    --about-bg: #FFF5F6;
    --primary-p: #000000;
    --secont-p: #907E82;
    --button-bg: #D41342;

    // --cofe: #F0D1A5;
    // --point: #C7133E;
    // --icon-bg: #FEA5BB;
    // --point-bg: #D9D9D9;
    // --Customer-bg:#FAFAFA;

}