contacts__partners{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.contacts__button{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    min-width: 161.45px;
    min-height: 44px;
    background: $bg-button;
    border-radius: 22px;
    border: 1px transparent;
    cursor: pointer;
    padding: 0px 17px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: calc(21/16);
            align-items: center;
            text-align: center;
            color: $text-white;
}