.customer-reviews {
  padding: 60px 0 54px 0;
@media screen and (min-width: 768px) {
  padding: 60px 0 80px 0;
}
 @media screen and (min-width: 1200px) {
  padding: 120px 0;
 }
}
.swiper {
  min-width: 280px;
  height: 530px;

  @media screen and (min-width: 768px) {
    width: 620px;
    height: 350px;
  }

  @media screen and (min-width: 1200px) {
    width: 968px;
      // height: 138px;
  }
}

// .swiper-wrapper {
//   height: 500px;
// }

.swiper-slide__reviews {
  display: flex;
  justify-content: center;

  max-width: 280px;

  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 21px;

  background-color: $bg-customer;

@media screen and (min-width: 768px) {
    max-width: 620px;
}
@media screen and (min-width: 1200px) {
  max-width: 968px;}

}

.swiper-slide__blockquote {
  position: relative;

  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    $bg-customer 1px,
    $bg-customer 31px
  );

  width: 180px;
  height: 257px;

  &::before {
    content: '';
    display: block;
    background-image: url(../image/“.svg);
    width: 54px;
    height: 40px;
    background-size: contain;
  }

  @media screen and (min-width: 758px) {
    width: 608px;
    height: 108px;
  }
    @media screen and (min-width: 1200px) {
      width: 822px;
      height: 75px;
    }
}

.swiper-slide__foto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;

  @media screen and (min-width: 758px) {
    margin-bottom: 20px;
  }
    @media screen and (min-width: 1200px) {
      margin-bottom: 16px;
    }
}

.swiper-slide__text {
  position: absolute;
  display: block;
  top: 13px;
  left: 11px;
  
  width: 157px;

  text-align: center;
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: 0.04em;

  @media screen and (min-width: 758px) {
    top: 17px;
      left: 44.71px;
      width: 514px;

      font-size: 14px;
      line-height: 2.16;
    }

         @media screen and (min-width: 1200px) {
          top: 15px;
          left: 37px;

          width: 750px;
      
          font-size: 16px;
          line-height: 1.86;
         }
}

.swiper-slide__name {
  // margin-top: 16px;

  &::before {
    content: '';
    display: block;
    margin: 16px auto;

    background-image: url(../image/tri-tochki-red.svg);

    width: 32px;
    height: 4px;

    @media screen and (min-width: 758px) {
      margin-top: 4px;
      }
        @media screen and (min-width: 1200px) {
          margin-top: 16px;
        }
  }

    
}

.swiper-slide__name {
  font-size: 14px;
  line-height: 1.86;

  text-align: center;

  @media screen and (min-width: 758px) {
    font-size: 16px;
  }
 @media screen and (min-width: 1200px) {
font-size: 20px;
  line-height: 1.86;
 }
    
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper .swiper-pagination-bullet-active {
  background-image: url(../image/house.svg);
  background-color: inherit;
  border-radius: 0%;
  width: 12px;
  height: 12px;
}
