<section class="section advantages">
  <div class="container">
    <h2 class="advantages__title visually-hidden">Our advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__block">
          <div class="advantages__svg">
            <svg class="advantages__vector">
              <use href="../image/sprite-svg.svg#vymia-nad-vedrom"></use>
            </svg>
          </div>
          <h3 class="advantages__subtitle">721</h3>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>

      <li class="advantages__item">
        <div class="advantages__block">
          <div class="advantages__svg">
            <svg class="advantages__vector">
              <use href="../image/sprite-svg.svg#vedro-yablok"></use>
            </svg>
          </div>
          <h3 class="advantages__subtitle">16kg</h3>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__block">
          <div class="advantages__svg">
            <svg class="advantages__vector">
              <use href="../image/sprite-svg.svg#serdce-na-palke"></use>
            </svg>
          </div>
          <h3 class="advantages__subtitle">84</h3>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
