
<section class="contacts">
    <div class="container contacts__container">
<section class="contacts" id="contacts">
    <div class="container">
        <h2 class="contacts__heading visually-hidden">Наши партнерьі</h2>
        <ul class="contacts__partners">
            <li class="contacts__franchisee">
                <p class="contacts__partntrs-category contacts__partntrs-category--bgbrown">
                    cafe
                </p>

                <div class="contacts__information">
                    <h3 class="visually-hidden">Location franchisee partners</h3>
                    <b class="contacts__title">Chikago</b>
                    <p class="contacts__subtitle">
                        1901 W Hero of Azovstal St 2022, Chicago, IL 60612
                    </p>
                </div>

                <div class="contacts__information">
                    <h4 class="visually-hidden">worktime franchisee</h4>
                    <ul class="contacts__time-information">
                        <li class="contacts__worktime-list">
                            <b class="contacts__title">Monday - Friday</b>
                            <p class="contacts__worktime">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__worktime-list">
                            <b class="contacts__title">Saturday - Sunday</b>
                            <p class="contacts__worktime">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>

                    <h5 class="visually-hidden">contacts franchisee</h5>
                    <a class="contacts__subtitle contacts__subtitle--link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts__subtitle contacts__subtitle--link" href="email:noreply@envato.com">noreply@envato.com</a>

            </li>

            <li class="contacts__franchisee">
                <p class="contacts__partntrs-category contacts__partntrs-category--bggreen">
                    foodtrack
                </p>

                <div class="contacts__information">
                    <h3 class="visually-hidden">Location franchisee partners</h3>
                    <b class="contacts__title">Los Angeles</b>
                    <p class="contacts__subtitle">
                        1800 Nebesnoi Sotni Front Walk, Venice, CA 90291
                    </p>
                </div>

                <div class="contacts__information">
                    <h4 class="visually-hidden">worktime franchisee</h4>
                    <ul class="contacts__time-information">
                        <li class="contacts__worktime-list">
                            <b class="contacts__title">Monday - Friday</b>
                            <p class="contacts__worktime">06:00 AM - 11:00 PM</p>
                        </li>
                        <li class="contacts__worktime-list">
                            <b class="contacts__title">Saturday - Sunday</b>
                            <p class="contacts__worktime">05:00 AM - 11:30 PM</p>
                        </li>
                    </ul>
                </div>

                    <h5 class="visually-hidden">contacts franchisee</h5>
                    <a class="contacts__subtitle contacts__subtitle--link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts__subtitle contacts__subtitle--link" href="email:noreply@envato.com">noreply@envato.com</a>
            </li>

            <li class="contacts__franchisee">
                <p class="contacts__partntrs-category contacts__partntrs-category--bgbrown">
                    cafe
                </p>

                <div class="contacts__information">
                    <h3 class="visually-hidden">Location franchisee partners</h3>
                    <b class="contacts__title">New York</b>
                    <p class="contacts__subtitle">
                        115 Stepana Bandery Ave, Staryi Podol Brooklyn, NY 11252
                    </p>
                </div>

                <div class="contacts__information">
                    <h4 class="visually-hidden">worktime franchisee</h4>
                    <ul class="contacts__time-information">
                        <li class="contacts__worktime-list">
                            <b class="contacts__title">Monday - Friday</b>
                            <p class="contacts__worktime">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__worktime-list">
                            <b class="contacts__title">Saturday - Sunday</b>
                            <p class="contacts__worktime">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>

                    <h5 class="visually-hidden">contacts franchisee</h5>
                    <a class="contacts__subtitle contacts__subtitle--link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts__subtitle contacts__subtitle--link" href="email:noreply@envato.com">noreply@envato.com</a>

            </li>
        </ul>

        <div class="contacts__buttons">
            <button class="btn__primary btn" type="button">
                Our Locations
            </button>
            <button class="contacts__button btn__white contacts__button--light" type="button">
                Franchise
            </button>
        </div>
    </div>
</section>