<section class="customer-reviews">
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides1 -->

        <div class="swiper-slide">
          <div class="swiper-slide__foto">
              <img srcset="./image/desctop/curlygirl.png 1x, ./image/desctop/curlygirl2x.png 2x"
              src="./image/desctop/curlygirl.png" alt="Фото покупателя" width="85px">
          </div>
          <div class="swiper-slide__reviews">
              <figure>
            <blockquote class="swiper-slide__blockquote">
              <p class="swiper-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </blockquote>
          </div>
            <figcaption class="swiper-slide__name">
              Emily, Los Angeles
            </figcaption>
          </figure>
        </div>
        <!-- Slides2 -->
        <div class="swiper-slide">
          <div class="swiper-slide__foto">
              <img srcset="./image/desctop/blackgirl.png 1x, ./image/desctop/blackgirl2x.png 2x"
              src="./image/desctop/blackgirl.png" alt="Фото покупателя" width="85px">
          </div>
          <div class="swiper-slide__reviews">
              <figure>
            <blockquote class="swiper-slide__blockquote">
              <p class="swiper-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </blockquote>
          </div>
            <figcaption class="swiper-slide__name">
              Emily, Los Angeles
            </figcaption>
          </figure>
        </div>
        <!-- Slides3 -->

        <div class="swiper-slide">
          <div class="swiper-slide__foto">
              <img 
              srcset="./image/desctop/glassesgirl.png 1x, ./image/desctop/glassesgirl2x.png 2x"
              src="./image/desctop/glassesgirl.png" alt="Фото покупателя" width="85px">
          </div>
          <div class="swiper-slide__reviews">
              <figure>
            <blockquote class="swiper-slide__blockquote">
              <p class="swiper-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </blockquote>
          </div>
            <figcaption class="swiper-slide__name">
              Emily, Los Angeles
            </figcaption>
          </figure>
        </div>
        





      </div>
      <div class="swiper-pagination"></div>

    </div>
  </div>
</section>
