<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Отзывы клиентов</h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides1 -->

        <div class="swiper-slide">
          <div class="swiper-slide__foto">
            <img
              srcset="
                ./image/desctop/curlygirl.png   1x,
                ./image/desctop/curlygirl2x.png 2x
              "
              src="./image/desctop/curlygirl.png"
              alt="Фото покупателя"
              width="85"
            />
          </div>
          <div class="swiper-slide__reviews">
            <!-- <figure> -->
            <div class="swiper-slide__blockquote">
              <p class="swiper-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="swiper-slide__name">Emily, Los Angeles</p>
          <!-- </figure> -->
        </div>
        <!-- Slides2 -->
        <div class="swiper-slide">
          <div class="swiper-slide__foto">
            <img
              srcset="
                ./image/desctop/blackgirl.png   1x,
                ./image/desctop/blackgirl2x.png 2x
              "
              src="./image/desctop/blackgirl.png"
              alt="Фото покупателя"
              width="85"
            />
          </div>
          <div class="swiper-slide__reviews">
            <!-- <figure> -->
            <div class="swiper-slide__blockquote">
              <p class="swiper-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="swiper-slide__name">Emily, Los Angeles</p>
          <!-- </figure> -->
        </div>
        <!-- Slides3 -->

        <div class="swiper-slide">
          <div class="swiper-slide__foto">
            <img
              srcset="
                ./image/desctop/glassesgirl.png   1x,
                ./image/desctop/glassesgirl2x.png 2x
              "
              src="./image/desctop/glassesgirl.png"
              alt="Фото покупателя"
              width="85"
            />
          </div>
          <div class="swiper-slide__reviews">
            <!-- <figure> -->
            <div class="swiper-slide__blockquote">
              <p class="swiper-slide__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="swiper-slide__name">Emily, Los Angeles</p>
          <!-- </figure> -->
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
