<header class="header" id="header">
    <div class="header__wrapper">
        <div class="header__inner container">
            <!-- logo -->
            <a 
                href="#" 
                class="logo"
                aria-expanded="false"
            >
                <svg
                    class="logo__svg"
                    width="199"
                    height="50"
                    aria-label="logo"
                >
                    <use href="./image/sprite-svg.svg#logo"></use>
                </svg>
            </a>
    
            <div class="btn-wrapper">
                <button 
                class="menu menu__btn"
                aria-expanded="false"
                aria-controls="menu-container"
                type="button" 
                data-menu-button
            >
                <svg 
                    width="20" 
                    height="20"
                    aria-label="Переключатель мобильного меню"
                >
                    <use class="menu__icon--close" href="./image/sprite-svg.svg#close"></use>
                    <use class="menu__icon--open" href="./image/sprite-svg.svg#Burger"></use>
                </svg>
            </button>
            <button 
                class="btn__acent btn__white header__btn btn btn__hide  btn--hover" 
                type="button"
                data-modal-open
            >
                Buy now
            </button>

                <div class="backdrop is-hidden" data-modal>
                    <form class="form js-speaker-form">

                        <b class="form__descr">Оставьте свои данные, мы вам перезвоним</b>

                        <div class="form__field">
                            <label class="form__label" for="name">Имя</label>
                            <input class="form__input user-name" type="text" name="name" id="name">
                                <svg class="icon-input" width="13" height="13">
                                    <use href="./image/sprite-svg.svg#icon-userName"></use>
                                </svg>
                        </div>

                        <div class="form__field">
                            <label class="form__label" for="tel">Телефон</label>
                            <input class="form__input" type="tel" name="tel" id="tel">
                                <svg class="icon-input" width="13" height="13">
                                    <use href="./image/sprite-svg.svg#icon-tel"></use>
                                </svg>
                        </div>

                        <div class="form__field">
                            <label class="form__label" for="email">Почта</label>
                            <input class="form__input" type="email" name="email" id="email">
                                <svg class="icon-input" width="13" height="13">
                                    <use href="./image/sprite-svg.svg#icon-mail2"></use>
                                </svg>
                        </div>

                        
                        <div class="form__field comment">
                            <label class="form__label" for="comment">Комментарий</label>
                            <textarea class="form__textarea" name="comment" id="comment" rows="10" placeholder="Введите текст"></textarea>
                        </div>
                        
                        <!-- checkbox -->
                        <div class="checkbox form__field ">
                            <input class="checkbox__check" type="checkbox" name="agreement" id="agreement">
                            <span class="checkbox__span"></span>
                            
                            <label class="agreement form__label" for="agreement" >
                                Соглашаюсь с рассылкой и принимаю 
                                <a class="agreement-terms" href="#">Условия договора</a>
                            </label>
                        </div>

                        <!-- form -->
                        <div class="form__field">
                            <button class="form__submit btn btn__white" type="submit">Отправить</button>
                        </div>

                        <button class="form__btn--close" type="button" data-modal-close>
                            <svg class="icon-close" width="10" height="10">
                                <use href="./image/sprite-svg.svg#icon-close"></use>
                            </svg>
                        </button>
                    </form> 
                </div>

            </div>
    
            <div 
                class="menu__container" 
                id="menu-container"
                data-menu
            >
                <ul class="nav nav__list--menu list">
                        <button 
                            class="btn btn__white 
                            btn__margin btn--hover" 
                            type="button"
                            data-modal-mob-open=""
                        >
                            Buy now
                        </button>

                        <!-- modal mob menu -->

                        <div 
                            class="backdrop is-hidden" 
                            data-modal-mob
                        >
                            <form class="form js-speaker-form">
        
                                <b class="form__descr">Оставьте свои данные, мы вам перезвоним</b>
        
                                <div class="form__field">
                                    <label class="form__label" for="name">Имя</label>
                                    <input class="form__input user-name" type="text" name="name" id="name">
                                        <svg class="icon-input" width="13" height="13">
                                            <use href="./image/sprite-svg.svg#icon-userName"></use>
                                        </svg>
                                </div>
        
                                <div class="form__field">
                                    <label class="form__label" for="tel">Телефон</label>
                                    <input class="form__input" type="tel" name="tel" id="tel">
                                        <svg class="icon-input" width="13" height="13">
                                            <use href="./image/sprite-svg.svg#icon-tel"></use>
                                        </svg>
                                </div>
        
                                <div class="form__field">
                                    <label class="form__label" for="email">Почта</label>
                                    <input class="form__input" type="email" name="email" id="email">
                                        <svg class="icon-input" width="13" height="13">
                                            <use href="./image/sprite-svg.svg#icon-mail2"></use>
                                        </svg>
                                </div>
                                
                                <div class="form__field comment">
                                    <label class="form__label" for="comment">Комментарий</label>
                                    <textarea class="form__textarea" name="comment" id="comment" rows="10" placeholder="Введите текст"></textarea>
                                </div>
                                
                                <!-- checkbox -->
                                <div class="checkbox form__field ">
                                    <input class="checkbox__check" type="checkbox" name="agreement" id="agreement">
                                    <span class="checkbox__span"></span>
                                    
                                    <label class="agreement form__label" for="agreement" >
                                        Соглашаюсь с рассылкой и принимаю 
                                        <a class="agreement-terms" href="#">Условия договора</a>
                                    </label>
                                </div>
        
                                <!-- form -->
                                <div class="form__field">
                                    <button class="form__submit btn btn__white" type="submit">Отправить</button>
                                </div>
        
                                <button 
                                    class="form__btn--close" 
                                    type="button" 
                                    data-modal-mob-close
                                >
                                    <svg class="icon-close" width="10" height="10">
                                        <use href="./image/sprite-svg.svg#icon-close"></use>
                                    </svg>
                                </button>
                            </form> 
                        </div>

                    <li class="nav__item link">
                        <a class="nav__link active" href="#header" aria-label="Home page link">Home</a> 
                    </li>
                    <li class="nav__item link">
                        <a class="nav__link" href="#about" aria-label="About page link">About us</a> 
                    </li>
                    <li class="nav__item link">
                        <a class="nav__link" href="#about" aria-label="Home page link">How it's made</a> 
                    </li>
                    <li class="nav__item link">
                        <a class="nav__link" href="#products" aria-label="Home page link">Our products</a> 
                    </li>
                    <li class="nav__item link">
                        <a class="nav__link" href="#contacts" aria-label="Home page link">Contacts</a> 
                    </li>
                </ul>
            </div>
    
        </div>
    </div>
</header>