<header class="header">
    <div class="header__inner container">        
        <a 
            href="#" 
            class="logo"
            aria-expanded="false"

            data-menu-button
        >
            <svg
                width="199"
                height="50"
                aria-label="logo"
            >
                <use class="logo__svg" href="./image/sprite-svg.svg#logo"></use>
            </svg>
        </a>

        <nav class="nav">
            <ul class="nav__list list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">About us</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">How it's made</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Our products</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>

        <button 
            class="menu menu__btn"
            aria-expanded="false"
            aria-controls="menu-container"
            type="button" 
            data-menu-button
        >
            <svg width="20">
                <use href="./image/sprite-svg.svg#Burger"></use>
                <use href="./image/sprite-svg.svg#"></use>
            </svg>
        </button>

        <button class="btn__primary header__btn btn" type="button">Buy now</button>
    </div>
</header>