<section class="hero overlay">
    <div class="container hero--wrapper">
        <div class="hero__left--bar">
            <h1 class="hero__title">ice cream made with 
                <span>passion</span>
            </h1>

                <!-- modal -->
                <!-- <div class="backdrop is-hidden" data-modal>
                    Works
                </div> -->

            <div class="hero__btn--wrapper">
                <button class="btn__primary btn" type="button">Products</button>
                <button class="btn__acent btn btn--hover" type="button">How it's made?</button>
            </div>
            
            <div class="milk">
                <img 
                    class="milk__img" 
                    srcset="./image/tablet/tablet-milkjug.png 1x, ./image/tablet/tablet-milkjug.png 2x" 
                    src="./image/desctop/milkjug.png"
                    alt="milkjug"
                 >
                <div class="more">
                    <p class="milk__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="learnMore" type="button" data-modal-open>
                        <svg 
                            class="arrow__svg"
                            width="8"
                            height="8"
                            aria-label="logo"
                        >
                            <use href="./image/sprite-svg.svg#arrow-right2"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    
        <div class="hero__right--bar">
            <p class="hero__right--count cafes">16</p>
            <p class="hero__right--count trucks">23</p>
        </div>
    </div>
</section>