<section class="section products">
    <div class="container">
        <strong class="porducts__strong">100% natural</strong>
        <h1 class="porducts__title">products</h1>
        <ul class="porducts__list">
            <li class="porducts__item">
                <img class="porducts__image"
                    srcset="./image/mobile/mobile-ice-pink.png  1x, ./image/mobile/mobile-ice-pink2x.png 2x"
                    src="./image/mobile/mobile-ice-pink.png" alt="foto" />
                <div class="porducts-box porducts-box__cream">
                    <h2 class="porducts-box__title">ice cream</h2>
                    <svg class="porducts-box__icon" width="26" height="6">
                        <use href="/src/image/sprite-svg.svg#tri-tochki-bel"></use>
                    </svg>
                    <p class="products-box__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="products-button" tupe="button">
                        <svg class="button__icon" width="11" height="10">
                            <use class="button__icon--svg" href="/src/image/sprite-svg.svg#arrow-right2"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="porducts__item">
                <img class="porducts__image"
                    srcset="./image/mobile/mobile-coffee.png 1x, ./image/mobile/mobile-coffee2x.png 2x"
                    src="./image/mobile/mobile-coffee.png" alt="foto" width="280" />
                <div class="porducts-box porducts-box__cofe">
                    <h2 class="porducts-box__title">ice coffee</h2>
                    <svg class="porducts-box__icon" width="26" height="6">
                        <use href="/src/image/sprite-svg.svg#tri-tochki-bel"></use>
                    </svg>
                    <p class="products-box__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="products-button" tupe="button">
                        <svg class="button__icon" width="11" height="10">
                            <use href="/src/image/sprite-svg.svg#arrow-right2"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="porducts__item">
                <img class="porducts__image"
                    srcset="./image/mobile/mobile-milkshakes.png 1x, ./image/mobile/mobile-milkshakes2x.png 2x"
                    src="./image/mobile/mobile-milkshakes.png" alt="foto" width="280" />
                <div class="porducts-box porducts-box__milkshakes">
                    <h2 class="porducts-box__title">milkshakes</h2>
                    <svg class="porducts-box__icon" width="26" height="6">
                        <use href="/src/image/sprite-svg.svg#tri-tochki-bel"></use>
                    </svg>
                    <p class="products-box__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="products-button" tupe="button">
                        <svg class="button__icon" width="11" height="10">
                            <use href="/src/image/sprite-svg.svg#arrow-right2"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>