<section class="section products">
    <div class="container">
        <strong class="porducts__strong">100% natural</strong>
        <h1 class="porducts__title">products</h1>
        <ul class="porducts__list">
            <li class="porducts__item">
                <img src="./image/mobile/mobile-ice-pink.png" alt="foto" width="280" />
                <div class="porducts-box">
                    <h2 class="porducts-box__title">ice cream</h2>
                    <svg class="porducts-box__icon" width="26" height="6">
                        <use href="/src/image/sprite-svg.svg#tri-tochki-bel"></use>
                    </svg>
                    <p class="products-box__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="products-button" tupe="button">sada
                        <!-- <svg class="button__icon"></svg> -->
                    </button>
                </div>
            </li>

            <li class="porducts__item">
                <!-- <img src="" alt="" /> -->
                <div class="porducts-box">
                    <h2 class="porducts-box__title">ice coffee</h2>
                    <!-- <svg class="porducts-box__icon"></svg> -->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="button">
                        <!-- <svg class="button_icon"></svg> -->
                    </button>
                </div>
            </li>
            <li class="porducts__item">
                <!-- <img src="" alt="" /> -->
                <div class="porducts-box">
                    <h2 class="porducts-box__title">ice cream</h2>
                    <!-- <svg class="porducts-box__icon"></svg> -->
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="button">
                        <!-- <svg class="button_icon"></svg> -->
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>